@charset 'utf-8';

.product{padding: 46px 0;}
.product .productlist{padding-bottom: 20px;}
.product .productlist .list{width: 23.5%; float: left; margin: 0 2% 30px 0;}
.product .productlist .list:nth-child(4n){margin-right: 0;}
.product .productlist .list:nth-child(4n+1){clear: both;}
.product .productlist .list .picture{border: solid #e6e6e6 1px; border-radius: 15px; overflow: hidden;}
.product .productlist .list .picture img{width: 100%; transition: all 0.5s;}
.product .productlist .list .picture:hover img{transform: scale(1.1);}
.product .productlist .list .title{margin-top: 10px;}
.product .productlist .list .title a{font-size: 20px; line-height: 24px; color: #c22a29;}
.product .productlist .list .text{margin-top: 5px;}
.product .productlist .list .text a{font-size: 14px; color: #656565; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden; text-overflow: ellipsis;}
.product .productlist .list .button{margin-top: 10px;}
.product .productlist .list .button a{display: inline-block; line-height: 36px; font-size: 18px; padding: 0 25px; background: #c22a29; color: #fff; border-radius: 18px;}

@media (max-width:960px) {
	.product{padding: 30px 15px}
	.product .productlist .list{width: 48%; float: left; margin-right: 4%; margin-bottom: 20px;}
	.product .productlist .list:nth-child(2n){margin-right: 0;}
	.product .productlist .list:nth-child(2n+1){clear: both;}
	.product .productlist .list .picture{border: solid #f5f6fb 2px; border-radius: 5px;}
	.product .productlist .list .title{margin-top: 5px;}
	.product .productlist .list .title a{display: block; font-size: 14px;}
	.product .productlist .list .button{margin-top: 5px;}
	.product .productlist .list .button a{line-height: 32px; font-size: 12px; padding: 0 20px; border-radius: 16px;}
}
